# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [21]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time

from api_keys_2 import ggl_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [24]:
weather_data = pd.read_csv("cities.csv")
weather_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Nikolskoye,2,RU,1627290370,33,59.7035,30.7861,26.94,1.85
1,San Quintín,99,MX,1627290371,89,30.4833,-115.9500,19.07,2.10
2,Arraial do Cabo,0,BR,1627290372,77,-22.9661,-42.0278,19.92,6.17
3,Kapaa,75,US,1627290374,83,22.0752,-159.3190,27.18,0.89
4,Oranjemund,100,NaN,1627290375,27,-28.5500,16.4333,22.01,7.35
...,...,...,...,...,...,...,...,...,...
1337,Ottawa,1,CA,1627291672,95,45.4112,-75.6981,17.77,3.09
1338,Shellbrook,100,CA,1627291706,59,53.2168,-106.4011,14.57,2.82
1339,Kattivākkam,85,IN,1627291707,45,13.2167,80.3167,36.05,3.26
1340,Harvard,0,US,1627291707,85,42.4222,-88.6137,20.51,3.09
1341,Davenda,99,RU,1627291707,61,53.5556,119.3170,20.99,4.42

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [27]:

gmaps.configure(api_key=ggl_key)

# Store latitude and longitude in locations
locations = weather_data[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = weather_data["Humidity"]

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure